@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');

h1{
    font-family: 'Flavors', cursive;
    color: white;
    font-size: 70px;
    text-align: center;
    margin: 20px;
}